
.horizontal-layout {
  display: flex;
}

.expand-layout {
  flex-grow: 1;
}

.clickable {
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 5px 1px blue;
}

.no-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-margin {
  margin-left: 1rem;
}
.horizontal-margin:last-child {
  margin-right: 1rem;
}

.vertical-margin {
  margin-top: 1rem;
}
.vertical-margin:last-child {
  margin-bottom: 1rem;
}

.sidebar {
  position: fixed;
  z-index: 5;
  right: 0;
  width: 300px;
  height: 600px;
  max-height: 100%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 3px black;
}
.sidebar-ad-placeholder {
  width: 300px;
  height: 600px;
  background: white url(https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97600&w=300&h=600) center / contain;
}
