html, body { height: 100%; }
body { margin: 0; }

.vertical-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.horizontal-layout {
  display: flex;
}

.expand-layout {
  flex-grow: 1;
}

.do-not-shrink {
  flex-shrink: 0;
}

.scroll-vertically {
  overflow-y: auto;
}

.align-text-right {
  text-align: right;
}
.align-text-center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 5px 1px blue;
}

.no-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-margin {
  margin-left: 1rem;
}
.horizontal-margin:last-child {
  margin-right: 1rem;
}

.vertical-margin {
  margin-top: 1rem;
}
.vertical-margin:last-child {
  margin-bottom: 1rem;
}
